github "Alamofire/Alamofire" 
github "QLiEER/Reachability.swift"
github "realm/realm-cocoa" ~> 5.5.0
github "SwiftyJSON/SwiftyJSON"
github "Square/Valet"  ~> 3.2.8 
github "tristanhimmelman/ObjectMapper" ~> 3.4 
github "marmelroy/PhoneNumberKit"
